.login {

   margin: 0 auto;
   max-width: 680px;

   .logo {

      text-align: center;

      margin: 1.5rem auto;
      font-size: 3rem;

      color: #6DB636;
   }

   .logo-img {

      margin: 0 auto;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;

      width: 150px;

      img {
         width: 100%;
         height: 100%;

      }

   }
}